In [24]:
students = ["Alice", "Bob", "Charlie", "David", "Eve"]

#Reverse the LIST of students
students.reverse()
print(students)

['Eve', 'David', 'Charlie', 'Bob', 'Alice']

In [25]:
items = ["apple", "banana", "cherry", "date", "fig", "grape"]
print(items[2:5])

['cherry', 'date', 'fig']

In [26]:
fruits = ["apple", "banana", "cherry", "date", "fig", "grape"]
print(fruits)

fruits.insert(2 , "kiwi")
print(fruits)

['apple', 'banana', 'cherry', 'date', 'fig', 'grape']
['apple', 'banana', 'kiwi', 'cherry', 'date', 'fig', 'grape']

In [30]:
ages = [23, 45, 18, 34, 60, 50, 27]
total = ages[0]+ages[1]+ages[2]+ages[3]+ages[4]+ages[5]+ages[6]

avg = total / len(ages)
print(avg)


sum_ages = sum(ages)
print(sum_ages/ len(ages))

36.714285714285715
36.714285714285715

In [35]:
sentence = "Python programming is fun"

sentence_list = sentence.split()
print(sentence_list)

print(sentence_list[0][1])
print(sentence_list[1][1])
print(sentence_list[2][1])
print(sentence_list[3][1])

['Python', 'programming', 'is', 'fun']
y
r
s
u

In [1]:
workshop1 = {"Alice", "Bob", "Charlie", "David"}
workshop2 = {"Eve", "Bob", "Frank", "David"}

print("Students who attended both workshops: ",workshop1.intersection(workshop2))
print("Students who attended workshops: ",workshop1.union(workshop2))

Students who attended both workshops:  {'Bob', 'David'}
Students who attended workshops:  {'Alice', 'Eve', 'Bob', 'Charlie', 'David', 'Frank'}

In [3]:
car = { "brand":"Tata", "model": "Nexon", "year" : 2015} 
print(car)

car["year"] = 2020
car["color"] = "red"

print(car)

{'brand': 'Tata', 'model': 'Nexon', 'year': 2015}
{'brand': 'Tata', 'model': 'Nexon', 'year': 2020, 'color': 'red'}

In [4]:
students = {
    "hindi": 85,
    "english": 78,
    "math": 92,
    "science": 88
}

#average score
total_score = sum(students.values())
average_score = total_score / len(students)
print("Average score:", average_score)

Average score: 85.75

In [4]:
number = int(input("Enter a number: "))

if number == 0:
    print("The number is zero.")
elif number > 0:
    print("The number is positive.")
else:
    print("The number is negative.")

The number is negative.

In [6]:
age = int(input("Enter your age: "))

if age > 0 and age <=12:
    print("You are a child.")
elif age >= 13 and age <= 19:
    print("You are a teenager.")
elif age >= 20 and age <= 64:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are a senior citizen.

In [ ]:
password = "Secure123"

if len(password) >= 8:
    print("Strong password")
else:
    print("Invalid Password")

Invalid Password

In [3]:
numbers = (2 , 5 , 6 , 78 , 55 , 23 , 44 , 56)

for num in numbers:
    if num % 2 == 0:
        print(num , "is a even number" )
    else:
        print(num , "is a odd number")

2 is a even number
5 is a odd number
6 is a even number
78 is a even number
55 is a odd number
23 is a odd number
44 is a even number
56 is a even number

In [5]:
students_marks = {
    "Shyam" : 85,
    "Ram" : 92,
    "Mohan" : 78,
    "Sohan" : 68,
    "Geeta" : 50,
    "Krishna" : 72
}

for name , marks in students_marks.items():
    if marks >= 90:
        print(name , "has secured grade A")
    elif marks >= 80 and marks<= 89:
        print(name , "has secured grade B")
    elif marks >= 70 and marks<= 79:
        print(name , "has secured grade C")
    elif marks >= 60 and marks<= 69:
        print(name , "has secured grade D")
    else:
        print(name , "has secured grade F")

Shyam has secured grade B
Ram has secured grade A
Mohan has secured grade C
Sohan has secured grade D
Geeta has secured grade F
Krishna has secured grade C

In [7]:
numbers = (10, 20 , 30 , 40 , 50)

i = len(numbers) - 1 #4
while i >= 0:
    print(numbers[i]) #4 = 50
    i -= 1

50
40
30
20
10

In [1]:
numbers = []

i = 0

while i < 100:
      num = int(input("Enter a number")) #10  20
      numbers.append(num) #0  1
      i += num # 1  2
      print("Current sum is: ", i) # 10+20 = 30

print("Numbers entered are: ", numbers)

Current sum is:  10
Current sum is:  30
Current sum is:  50
Current sum is:  65
Current sum is:  75
Current sum is:  80
Current sum is:  89
Current sum is:  98
Current sum is:  101
Numbers entered are:  [10, 20, 20, 15, 10, 5, 9, 9, 3]