In [ ]:
num1 = 200
print(num1)
print(type(num1))

200
<class 'int'>

In [3]:
num2 = 20.45
print(num2)
print(type(num2))

20.45
<class 'float'>

In [5]:
value1 = True
value2 = False
print(value1)
print(type(value1))

True
<class 'bool'>

In [11]:
name = "KIET Group of Institutions"
print(name)
print(name[0])
print(name[25])
print(len(name))
print(type(name))

KIET Group of Institutions
K
s
26
<class 'str'>

In [19]:
#List
numbers_list = [10,20,30,40,50]
names_list = ["Alice", "Bob", "Charlie", "David"]

list_ = [100, "Alice", 25.6 , True]
print(numbers_list)
print(names_list)
print(list_)

print(type(numbers_list))
print(type(names_list))
print(type(list_))

print(names_list[0])
print(len(names_list))

[10, 20, 30, 40, 50]
['Alice', 'Bob', 'Charlie', 'David']
[100, 'Alice', 25.6, True]
<class 'list'>
<class 'list'>
<class 'list'>
Alice
4

In [ ]:
#Tuple

number_tuple = (10,20,30,40,50)
names_tuple = ("Alice", "Bob", "Charlie", "David")
tuple_ = (100, "Alice", 25.6 , True)
print(number_tuple)
print(type(number_tuple))

(10, 20, 30, 40, 50)
<class 'tuple'>

In [28]:
#Set

number_set = {10, 20, 30 , 40}
print(number_set)
print(type(number_set))
print(len(number_set))
#print(number_set[1])

{40, 10, 20, 30}
<class 'set'>
4

In [ ]:
#Map

car = { "brand" : "TATA" ,
         "model" : "Nexon" ,
         "year" : 2023
     }
     
print(car)
print(car["brand"])
print(type(car))

{'brand': 'TATA', 'model': 'Nexon', 'year': 2023}
TATA
<class 'dict'>

In [32]:
name = "Alice"
math_score = 85
science_score = 90
print(name , "scored" , math_score , "in a Math and ", science_score , "in Science." )

Alice scored 85 in a Math and  90 in Science.