In [2]:
for i in range(5):
    print("Hello, World!" , i)

Hello, World! 0
Hello, World! 1
Hello, World! 2
Hello, World! 3
Hello, World! 4

In [5]:
i = 0
while i < 5:
    print("Hello Wolrd !" , i)
    i += 1

Hello Wolrd ! 0
Hello Wolrd ! 1
Hello Wolrd ! 2
Hello Wolrd ! 3
Hello Wolrd ! 4

In [3]:
num = 1
for i in range(10):
    print(num)  # 1 2 3
    num = num + 1  #2 3 4

1
2
3
4
5
6
7
8
9
10

In [6]:
num = 1
while num <= 10:
    print(num)
    num += 1
    #num = num + 1

1
2
3
4
5
6
7
8
9
10

In [11]:
num = 2
for i in range(1,11):  
    print(num * i)

2
4
6
8
10
12
14
16
18
20

In [7]:
num = 2 
i = 1
while i <= 10:
    print(num * i) #2*1 = 2  #2*2=4 #3*2=6
    i += 1 #2 , 3

2
4
6
8
10
12
14
16
18
20

In [6]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
for i in range(0, 31, 3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30

In [20]:
names = ["Alice", "Bob", "Charlie"]
for name in names:
    print(name)

Alice
Bob
Charlie

In [8]:
cities = ["Mumbai", "Delhi", "Bangalore", "Chennai" , "Hyderabad"]

i = 0
while i < len(cities):
    print(cities[i]) #0 #1
    i += 1; # 1

Mumbai
Delhi
Bangalore
Chennai
Hyderabad

In [2]:
for i in range(10): # 0 1 2  3 4 5
    if i == 5: # true
        #break #it will stop all eteration #break the loop
        continue #stop only single iteration #pause the loop 
    print(i) #0 1 2 3 4 _ 6 7 8 9

0
1
2
3
4
6
7
8
9

In [5]:
for i in range(20):
    print(i, "start") #0 1 2 3 4
    if i == 3:
        print("Break the loop", i) #
        #break;
        continue
    print(i, "end") #0 1 2 - 4

0 start
0 end
1 start
1 end
2 start
2 end
3 start
Break the loop 3
4 start
4 end
5 start
5 end
6 start
6 end
7 start
7 end
8 start
8 end
9 start
9 end
10 start
10 end
11 start
11 end
12 start
12 end
13 start
13 end
14 start
14 end
15 start
15 end
16 start
16 end
17 start
17 end
18 start
18 end
19 start
19 end