In [ ]:
#List
#List follow the sequence of elements (indexing)
#it allow a changes (Mutuable / Modifiable)
#dulicate elements are allowed

In [ ]:
#Tuple
#Tuple follow the sequence of elements (indexing)
#Unmutable/ Unchangble
#duplicate elemnts are allow

In [ ]:
#Set
#Not follow the indexcing / not in sequence
#Doest not allow to change the values (unchangble) but we can add and remove element
#allow the duplicate value but store only one

In [ ]:
#Dict
#It is key value pair
#It is mutuble / modifiable
#It does not follow the indexing / not in sequence
#unique keys only

In [46]:
student = {
    "name" : "Hrishikesh",
    "age" : 32,
    "address": {
        "city" : {
            "village" : "Panchgani",
            "district" : "Nagpur"
        },
        "state" : "Maharashtra",
        "pin_code": 445001
    }   
    }

print(student)
print(student["age"])
print(student["address"]["city"])

student["name"] = "Kishore"  #chnagle the value of name key
print(student)

student["address"]["city"]["village"] = "Hiwari"

print(student)

student["grade"]="HSC"

print(student)

student.pop("age")
print(student)
student.pop("address", "state")
print(student)

{'name': 'Hrishikesh', 'age': 32, 'address': {'city': {'village': 'Panchgani', 'district': 'Nagpur'}, 'state': 'Maharashtra', 'pin_code': 445001}}
32
{'village': 'Panchgani', 'district': 'Nagpur'}
{'name': 'Kishore', 'age': 32, 'address': {'city': {'village': 'Panchgani', 'district': 'Nagpur'}, 'state': 'Maharashtra', 'pin_code': 445001}}
{'name': 'Kishore', 'age': 32, 'address': {'city': {'village': 'Hiwari', 'district': 'Nagpur'}, 'state': 'Maharashtra', 'pin_code': 445001}}
{'name': 'Kishore', 'age': 32, 'address': {'city': {'village': 'Hiwari', 'district': 'Nagpur'}, 'state': 'Maharashtra', 'pin_code': 445001}, 'grade': 'HSC'}
{'name': 'Kishore', 'address': {'city': {'village': 'Hiwari', 'district': 'Nagpur'}, 'state': 'Maharashtra', 'pin_code': 445001}, 'grade': 'HSC'}
{'name': 'Kishore', 'grade': 'HSC'}

In [ ]:
names_set = {True,1, 0 ,"Hrishi" , "Hrishi" ,True, 1, 1,  False, 0,  "ram" , "mohan"}

names_list = ["Hrishi" , "Hrishi" , "ram" , "mohan"]
print(names_set)
print(names_list)

names_set.add("Sohan")

{0, True, 'ram', 'Hrishi', 'mohan'}
['Hrishi', 'Hrishi', 'ram', 'mohan']

In [30]:
numbers = {10, 20 , 30 , 40 , 50 , 60 , 70}
nums = {100, 200, 20 , 30 , 300}
print(numbers.union(nums)) #all numbers
print(numbers.intersection(nums)) #common numbers

#print(numbers[0]) #not follow indexing
#numbers.append(80)
#numbers.insert(2, 25)

numbers.add(80)
print(numbers)

numbers.remove(10)
print(numbers)

numbers.update(nums)
print(numbers)

{100, 70, 40, 200, 10, 300, 50, 20, 60, 30}
{20, 30}
{80, 50, 20, 70, 40, 10, 60, 30}
{80, 50, 20, 70, 40, 60, 30}
{100, 70, 40, 200, 300, 80, 50, 20, 60, 30}

In [10]:
numbers = (10, 10,20,30,40,50,60,70,80,90,100)
print(numbers)
print(type(numbers))
print(numbers[0]) #Left to right
print(numbers[-1]) #right to left

#numbers[0] = 120
#print(numbers)

#numbers.insert(1, 11)
#print(numbers)

#numbers.append(40)

total = sum(numbers)
print("Total:", total)

(10, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
<class 'tuple'>
10
100
Total: 560

In [20]:
numbers = [10,10 ,20, 30 , 40 , 50]
cities = ["Kakinada", "Kurnool" , 'Warngal', 'Nagpur' ]
raw_data = ["Nagpur" , 12 , 45.6 , True , 0]

print(type(numbers))
print(type(raw_data))

print(len(numbers))
print(numbers)
print(cities[1])
print(cities[-1])

#Changes in String
#Add the Elements in cities
cities.append("Amravati")
print(cities)

#add in first index
cities.insert(0 , "Corangi")
cities.insert(3 , "Mumbai")
print(cities)

#Remove the element value
cities.remove("Kurnool")
print(cities)

#remove the element based on index
cities.pop(2)
print(cities)

<class 'list'>
<class 'list'>
6
[10, 10, 20, 30, 40, 50]
Kurnool
Nagpur
['Kakinada', 'Kurnool', 'Warngal', 'Nagpur', 'Amravati']
['Corangi', 'Kakinada', 'Kurnool', 'Mumbai', 'Warngal', 'Nagpur', 'Amravati']
['Corangi', 'Kakinada', 'Mumbai', 'Warngal', 'Nagpur', 'Amravati']
['Corangi', 'Kakinada', 'Warngal', 'Nagpur', 'Amravati']

In [22]:
names = ["Anil" , "Balu" , "Chandu" , "Dinesh" , "Eshwar"]
names2 = ["ram" , "sam" , "tom"]

names.append(names2)
print(names)

['Anil', 'Balu', 'Chandu', 'Dinesh', 'Eshwar', ['ram', 'sam', 'tom']]